# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
desktop.ini
$RECYCLE.BIN/
*.exe
*.msi

# OS X
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
*.app/

# Direnv
.envrc
.psenvrc

# Editors
.vscode/
.vs/
*.suo
*.user
*.vspscc
*.vssscc
bin/
obj/
.idea/
.ionide/

# Vagrant
.vagrant/

# Archives/Blobs
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.nupkg

# Compiled artifacts
*.so
*.dylib
*.dll
*.a
*.o
*.obj
*.out
[Bb]in/
[Oo]bj/
**/packages/*
**/node_modules/*

# Temp and swap files
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.bak
.stack-work/
*.dbmdl
*.jfm

#Habitat
results/
user.toml

# Cabal
cabal.project.local
cabal-ghcjs.project.local
.ghc.environment.*

# Changelog TMP files
CHANGELOG.tmp.md

# Local exlude
local/

# Don't ignore out top level bin/..
!/bin/

#Paket dependency manager
.paket/
paket-files/

# .NET Application Configurations
appsettings.*.json
