<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="forgejo" value="https://forgejo.mtasolutions.com/api/packages/developers/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="forgejo">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <forgejo>
      <add key="Username" value="dev" />
      <add key="ClearTextPassword" value="926d2995a54c4097b86e02da804e5befe45a637a" />
    </forgejo>
  </packageSourceCredentials>
</configuration>